.goods__item .goods__article_list {
    margin-bottom: 13px;
}
.goods__item .goods__article_list select.article{
    border: solid 1px #d8d9d9;
    color: #acacae;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    padding: 0px 5px;
}