.sonet_name
{
	font-size: 120%;
	font-weight:bold;
}

.sonet_tr_h3
{
	background-color: #D0F0F0;
}

.sonet_h3
{
	font-size: 120%;
	font-weight: bold;
}

.sonet_h5
{
	font-size: 100%;
	font-weight: bold;
}

